<div class="container-fluid bg-light">
    <div class="row align-items-center">
      <div class="col-md-4 text-center">
        <img src="assets/moses.png" alt="Profile Image" class="img-fluid rounded-circle">
      </div>
      <div class="col-md-8">
        <h1 class="text-dark display-1 fw-bold ps-2">Hello</h1>
        <h3 class="ps-1">A Bit About Me</h3>
        <p>
          I'm a passionate Software Developer with a background in Electrical and Electronics Engineering, specializing in Java, Spring Boot, Angular, and IoT. I thrive on creating innovative, efficient solutions that bridge technology and real-world applications.
        </p>
      </div>
    </div>
  </div>
