<div class="form-container">
  <div class="container d-flex flex-column justify-content-center align-items-center">
    <div class="d-flex align-items-center mb-4">
      <div class="circle me-3"></div>
      <h1 class="display-4 mb-0 header" style="font-family: 'Montserrat', sans-serif">Let's Talk</h1>
    </div>
    <div *ngIf="alertMessage" 
     [ngClass]="{'alert-success': alertType === 'success', 'alert-error': alertType === 'error'}" 
     class="alert alert-popup">
  {{ alertMessage }}
</div>


    <form [formGroup]="myForm" class="w-50" (ngSubmit)="handleFormSubmit()">
      <div class="row mb-3">
        <div class="col-md-6">
          <label for="firstName" class="form-label">First Name <span class="text-danger">*</span></label>
          <input type="text" class="form-control rounded-0" id="firstName" required />
        </div>
        <div class="col-md-6">
          <label for="lastName" class="form-label">Last Name <span class="text-danger">*</span></label>
          <input type="text" class="form-control rounded-0" id="lastName" required />
        </div>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email <span class="text-danger">*</span></label>
        <input type="email" class="form-control rounded-0" id="email" required />
      </div>
      <div class="mb-3">
        <label for="subject" class="form-label">Subject <span class="text-danger">*</span></label>
        <input type="text" class="form-control rounded-0" id="subject" required />
      </div>
      <div class="mb-3">
        <label for="message" class="form-label">Message</label>
        <textarea class="form-control rounded-0" id="message" rows="4"></textarea>
      </div>
      <button type="submit" class="btn btn-dark rounded-0 w-100">Submit</button>
    </form>
  </div>
  <hr
  class="mt-4 mb-2 hr-small-screen"
  style="border-top: 2px solid #a9a3a3; width: 40%; margin: auto"
/>
  <div class="text-center">
    <h6>Or just click</h6>
    <p>
      <a href="tel:+254727587966" class="text-dark me-4"><i class="fa fa-phone icon-animation" aria-hidden="true"></i></a>
      <a href="mailto:mangabomoses@gmail.com" class="text-dark me-4"><i class="fa fa-envelope icon-animation" aria-hidden="true"></i></a>
      <a href="https://github.com/Eng-Musa" class="text-dark me-4"><i class="fa fa-github icon-animation" aria-hidden="true"></i></a>
      <a href="https://www.linkedin.com/in/moses-mangabo/" class="text-dark me-4"><i class="fa fa-linkedin icon-animation" aria-hidden="true"></i></a>
      <a href="https://x.com/_MosesMusa" class="text-dark me-4"><i class="fa fa-twitter icon-animation" aria-hidden="true"></i></a>
    </p>
  </div>
</div>
