.btn-primary {
    background-color: rgb(4, 4, 91);
  }
  
  .input-field {
    border: 2px solid #000;
    transition: border-color 0.3s ease-in-out, scale 0.3s ease-in-out;
  }
  
  .input-field:hover {
    border-color: rgb(4, 4, 91);
    scale: 1.02;
  }
  
  .input-field:focus {
    outline: none;
    border-color: rgb(4, 4, 91);
    box-shadow: 0 0 5px rgba(4, 4, 91, 0.5);
    scale: 1.02;
  }
  
  hr.my-4 {
    border-top-color: #000;
  }
  
  .icon-hover:hover {
    transform: translateY(8px);
    transition: transform 0.3s ease-in-out;
  }
  