.footer-text {
    margin-bottom: 5px; /* Adjust this value to control the spacing */
    margin-top: 0;
    font-size: 0.9rem;
    font-weight: lighter;
}

.footer{
    z-index: 999;
    position: relative;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
