<div class="pt-5">
    <div class="text-center mt-5 text-muted">
      <h3>Sample Projects</h3>
      <hr class="my-4" style="border-top: 2px solid #a9a3a3; width: 100%; margin: auto" />
    </div>
  
    <div class="container pb-5 pt-2 animate-up">
      <div class="row justify-content-center">
        <div class="col-sm-9">
          <div class="row align-items-center">
            <div class="col-lg-6 animate-left">
              <h2 class="mb-4">EMS</h2>
              <p class="mb-4">This project enhances billing accuracy and efficiency for landlords and real estate companies. Key features include landlord management, automatic token reload, remote power control, power usage metrics, and tenant access via mobile app and USSD. The technology stack comprises sensors coded in MicroPython and C++, Java backend, Angular frontend, and databases like PostgreSQL, MySQL, and MongoDB.</p>
            </div>
            <div class="col-lg-6 ps-4 animate-right">
              <div id="emsCarousel" class="carousel slide">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="assets/ems/ems-backend.png" alt="Backend Image" class="img-fluid rounded border border-primary">
                  </div>
                  <div class="carousel-item">
                    <img src="assets/ems/dashboard.png" alt="Dashboard Image" class="img-fluid rounded border border-primary">
                  </div>
                </div>
                <a class="carousel-control-prev" href="#emsCarousel" role="button" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </a>
                <a class="carousel-control-next" href="#emsCarousel" role="button" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="container pb-5 pt-2 animate-up">
      <div class="row justify-content-center">
        <div class="col-sm-9">
          <div class="row align-items-center">
            <div class="col-lg-6 animate-left">
              <h2 class="mb-4">E-BEE</h2>
              <p class="mb-4">This project is designed to help Tatu City residents move around efficiently and economically. It utilizes e-bee electric bikes equipped with GPS and remote control mechanisms. Users can rent these bikes, travel around the city, and settle their payments at the end of their journey. The system is built using Java, Angular, and Kotlin.</p>
            </div>
            <div class="col-lg-6 ps-4 animate-right">
              <div id="ebeeCarousel" class="carousel slide">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="assets/e-bee/e-bee-backend.png" alt="Backend Image" class="img-fluid rounded border border-primary">
                  </div>
                  <div class="carousel-item">
                    <img src="assets/e-bee/e-bee-dashboard.png" alt="Dashboard Image" class="img-fluid rounded border border-primary">
                  </div>
                </div>
                <a class="carousel-control-prev" href="#ebeeCarousel" role="button" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </a>
                <a class="carousel-control-next" href="#ebeeCarousel" role="button" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </div>
  