<div class="pt-5">
  <div class="text-center mt-5 text-muted">
    <h3>Sample Projects</h3>
    <hr
      class="my-4"
      style="border-top: 2px solid #a9a3a3; width: 100%; margin: auto"
    />
  </div>

  <div class="container-fluid pt-2">
    <div class="row justify-content-start ms-4 me-4 ps-4 pe-4">
      <h2 class="mb-4 ms-4">EMS</h2>

      <div class="col-12 col-lg-6 content-left">
        <p class="mb-1">
          Developed and deployed an advanced electricity metering system with
          the following key features:<br />
        </p>
        <ul>
          <li>
            <span class="fw-medium">Real-Time Monitoring:</span> Instantly track
            energy usage.
          </li>
          <li>
            <span class="fw-medium">Enhanced Security:</span> Tamper-proof
            mechanisms, overvoltage protection.
          </li>
          <li>
            <span class="fw-medium">User-Friendly Interfaces:</span> Easy-to-use
            controls and clear displays.
          </li>
          <li>
            <span class="fw-medium">Remote Access:</span> Recharge credits and
            access usage data from anywhere.
          </li>
          <li>
            <span class="fw-medium">Advanced Data Analytics:</span> Gain
            detailed insights into consumption patterns for informed
            decision-making.
          </li>
          <li>
            <span class="fw-medium">Web Access:</span> Available for admin,
            super admin, landlords, and tenants.
          </li>
          <li>
            <span class="fw-medium">Mobile Access:</span> Tenants can use a
            mobile app and USSD.
          </li>
          <li>
            <span class="fw-medium">Technology Stack:</span> DLMS/COSEM
            protocol, wireless communication, SpringBoot backend, Angular
            frontend.
          </li>
          <li>
            <span class="fw-medium">Databases:</span> PostgreSQL and MongoDB.
          </li>
        </ul>

        <p class="fw-medium text-start mt-2">
          Serving <span class="fw-bold text-primary">150+</span> customers
          testing phase.
        </p>
      </div>

      <div class="col-12 col-lg-6 ps-0 content-right">
        <div id="emsCarousel" class="carousel slide">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                src="assets/ems/ems-backend.png"
                alt="Backend Image"
                class="img-fluid rounded border border shadow"
              />
            </div>

            <div class="carousel-item">
              <img
                src="assets/ems/login.png"
                alt="Dashboard Image"
                class="img-fluid rounded border border shadow"
              />
            </div>
            <div class="carousel-item">
              <img
                src="assets/ems/admin.png"
                alt="Dashboard Image"
                class="img-fluid rounded border border shadow"
              />
            </div>
          </div>
          <a
            class="carousel-control-prev"
            href="#emsCarousel"
            role="button"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </a>
          <a
            class="carousel-control-next"
            href="#emsCarousel"
            role="button"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <hr
    class="my-4"
    style="border-top: 2px solid #a9a3a3; width: 70%; margin: auto"
  />

  <div class="container-fluid pt-2">
    <div class="row justify-content-start ms-4 me-4 ps-4 pe-4">
      <h2 class="mb-4 ms-4">BIKE-SHARING</h2>

      <div class="col-12 col-lg-6 content-left">
        <p class="mb-1">
          Developed and tested a smart e-bike rental system for Tatu City
          residents with the following key features:
        </p>
        <ul>
          <li>
            <span class="fw-medium">Efficient Transport:</span> Rent e-bee
            electric bikes for convenient city travel.
          </li>
          <li>
            <span class="fw-medium">GPS Tracking:</span> Bikes equipped with GPS
            for accurate location and tracking.
          </li>
          <li>
            <span class="fw-medium">Remote Control Mechanism:</span> Secure bike
            management with remote control features.
          </li>
          <li>
            <span class="fw-medium">Alert System:</span> Notifies if users move
            outside the Tatu City area.
          </li>
          <li>
            <span class="fw-medium">Bike Suggestions:</span> Suggests the
            nearest available bike based on user location.
          </li>
          <li>
            <span class="fw-medium">Payment System:</span> Settle payments at
            the end of the journey.
          </li>
          <li>
            <span class="fw-medium">Technology Stack:</span> Built with Java for
            backend, Angular for frontend, and Kotlin for mobile apps.
          </li>
          <li>
            <span class="fw-medium">Databases:</span> PostgreSQL for data
            storage.
          </li>
        </ul>

        <p class="fw-medium text-start mt-2">
          Projected daily usage:
          <span class="fw-bold text-primary">2000+</span> users.
        </p>
      </div>

      <div class="col-12 col-lg-6 ps-0 content-right">
        <div id="ebeeCarousel" class="carousel slide">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                src="assets/e-bee/e-bee-backend.png"
                alt="Backend Image"
                class="img-fluid rounded border border shadow"
              />
            </div>
            <div class="carousel-item">
              <img
                src="assets/e-bee/dashboard.png"
                alt="Dashboard Image"
                class="img-fluid rounded border border shadow"
              />
            </div>
          </div>
          <a
            class="carousel-control-prev"
            href="#ebeeCarousel"
            role="button"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </a>
          <a
            class="carousel-control-next"
            href="#ebeeCarousel"
            role="button"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <hr
    class="my-4"
    style="border-top: 2px solid #a9a3a3; width: 70%; margin: auto"
  />

  <div class="container-fluid pt-2">
    <div class="row justify-content-start ms-4 me-4 ps-4 pe-4">
      <h2 class="mb-4 ms-4">EQUITY BANK HACKATHON</h2>

      <div class="col-12 col-lg-6 content-left">
        <p class="mb-1">
          Participated in the Equity Hackathon and reached the final stages with
          a project focused on enhancing business efficiency through the
          following key features:
        </p>
        <ul>
          <li>
            <span class="fw-medium">Optimized Clinic Management:</span>
            Streamlined operations for Equity Afya clinics.
          </li>
          <li>
            <span class="fw-medium">Geo-Location Suggestions:</span> Provided
            users with clinic recommendations based on their location.
          </li>
          <li>
            <span class="fw-medium">Improved Efficiency:</span> Leveraged
            technology to optimize resource allocation and patient services.
          </li>
        </ul>

        <p class="fw-medium text-start mt-2">
          Duration:
          <span class="fw-bold text-primary">Nov 2022 - Apr 2024</span>
        </p>
      </div>

      <div class="col-12 col-lg-6 ps-0 content-right">
        <div id="equityCarousel" class="carousel slide">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                src="assets/hackathon/certificate.png"
                alt="Backend Image"
                class="img-fluid rounded border border shadow"
              />
            </div>
          </div>
          <a href="#equityCarousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid pt-2">
    <div class="row justify-content-start ms-4 me-4 ps-4 pe-4">
        <h2 class="mb-4 ms-4">M-SWIFT WEBSITE</h2>

        <div class="col-12 col-lg-6 content-left">
            <p class="mb-1">
                Developed a responsive and visually appealing landing page for
                <span class="fw-bold">M-Swift Solutions</span> using modern frontend technologies.
            </p>
            <ul>
                <li>
                    <span class="fw-medium">Technology Stack:</span> JavaScript, TypeScript, Angular 18, HTML, CSS.
                </li>
                <li>
                    <span class="fw-medium">Responsive Design:</span> Ensured compatibility across various devices and screen sizes.
                </li>
                <li>
                    <span class="fw-medium">Deployed On:</span> Accessible at
                    <a href="https://m-swift-solutions.vercel.app/" target="_blank" class="text-primary fw-bold">
                        m-swift-solutions.vercel.app
                    </a>.
                </li>
            </ul>

            <p class="fw-medium text-start mt-2">
                Duration:
                <span class="fw-bold text-primary">Aug 2023 - Sep 2023</span>
            </p>
        </div>

        <div class="col-12 col-lg-6 ps-0 content-right">
            <div id="m-swiftCarousel" class="carousel slide">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="assets/m-swift/home.png" alt="Home Page Image" class="img-fluid rounded border shadow" />
                    </div>
                    <div class="carousel-item">
                        <img src="assets/m-swift/services.png" alt="Services Page Image" class="img-fluid rounded border shadow" />
                    </div>
                </div>
                <a class="carousel-control-prev" href="#m-swiftCarousel" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </a>
                <a class="carousel-control-next" href="#m-swiftCarousel" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>

</div>
