<div class="pt-5">
    <div class="text-center mt-5 text-muted">
        <h3>Sample Projects</h3>
        <hr
          class="my-4"
          style="border-top: 2px solid #a9a3a3; width: 100%; margin: auto"
        />
      </div>

    <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <h2>EMS Project</h2>
            <p>This project enhances billing accuracy and efficiency for landlords and real estate companies. Key features include landlord management, automatic token reload, remote power control, power usage metrics, and tenant access via mobile app and USSD. The technology stack comprises sensors coded in MicroPython and C++, Java backend, Angular frontend, and databases like PostgreSQL, MySQL, and MongoDB.</p>
          </div>
          <div class="col-lg-6">
            <img src="assets/ems/ems-backend.png" alt="Project Image" class="img-fluid rounded">
          </div>
        </div>
      </div>
</div>
  