.circle {
  width: 30px;
  height: 30px;
  background-color: rgb(151, 151, 27);
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 20px;
}

.circle:hover{
  cursor: pointer;
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

.name {
  font-family: "Arial", sans-serif;
  font-weight: bold;
  font-size: 1.3rem;
  margin-right: 10px;
}

.navbar-brand.name:hover {
  cursor: pointer;
  transform: scale(1.04);
  transition: transform 0.3s ease-in-out;
}

.title {
  font-family: "Times New Roman", serif;
  font-weight: lighter;
  font-size: 1rem;
  letter-spacing: 0.5px;
}

.nav-item {
  position: relative;
  padding: 0 12px;
  transition: color 0.5s ease, background-color 0.5s ease;
}

.nav-item:hover {
  transform: scale(1.05);
  background-color: #f8f9fa;
}

.nav-link {
  color: #000;
}

.nav-link::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -4px;
  left: 50%;
  background-color: #333;
  transition: all 0.3s ease-in-out;
}

.nav-link:hover::before {
  width: 100%;
  left: 0%;
}

.vertical-line::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  height: 24px;
  border-right: 1px solid #ccc;
}

.hamburger {
  display: none;
  padding: 10px;
  margin-left: 15px;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px 0;
  transition: all 0.3s ease-in-out;
  background-color: black;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.navbar-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 7px;
}

/* Adjust for smaller screens */
@media (max-width: 576px) {
  .name {
    font-size: 1.1rem;
    margin-right: 5px;
  }

  .title {
    font-size: 0.9rem;
  }

  .circle {
    width: 25px;
    height: 25px;
    margin-right: 5px;
    margin-left: 10px;
  }

  .vertical-line::after {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .navbar-menu {
    position: fixed;
    left: -100%;
    top: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: start;
    transition: left 0.3s ease;
    backdrop-filter: blur(90px);
    overflow-y: hidden;
  }

  .nav-link {
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    font-weight: 550;
    font-size: 1.3rem;
    line-height: 1.5;
    position: relative;
    transition: color 0.3s ease-in-out;
  }

  .navbar-menu.active {
    left: 0;
  }

  .navbar-items {
    margin-top: 35%;
    display: flex;
    flex-direction: column;
  }

  body.menu-active {
    overflow: hidden;
  }
}
