
.circle {
    width: 30px;
    height: 30px;
    background-color: rgb(151, 151, 27);
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 20px;
}

.name {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    font-size: 1.3rem; 
    margin-right: 10px;
  }
  
.title {
    font-family: 'Times New Roman', serif; 
    font-weight: lighter; 
    font-size: 1rem; 
    letter-spacing: 0.5px;
  }

  .nav-item {
    position: relative;
    padding: 0 10px; /* Adjust spacing as needed */
  }
  
  .vertical-line::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    height: 24px; 
    border-right: 1px solid #ccc; 
  }

  @media (max-width: 576px) {
    .name {
        font-size: 1.1rem; 
        margin-right: 5px; 
    }

    .title {
        font-size: 0.9rem;
    }

    .circle {
        width: 25px; 
        height: 25px; 
        margin-right: 5px; 
        margin-left: 10px;
    }
}