.circle {
  width: 30px;
  height: 30px;
  background-color: rgb(151, 151, 27);
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 20px;
}

.name {
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  font-size: 1.3rem; 
  margin-right: 10px;
}

.navbar-brand.name:hover {
  cursor: pointer;
}

.title {
  font-family: 'Times New Roman', serif; 
  font-weight: lighter; 
  font-size: 1rem; 
  letter-spacing: 0.5px;
}

.nav-item {
  position: relative;
  padding: 0 10px; 
  transition: color 0.5s ease, background-color 0.5s ease;
}

.nav-item:hover {
  transform: scale(1.05);
  background-color: #f8f9fa; 
}

.nav-link {
  color: #000; /* Ensure the text is visible */
}

.vertical-line::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  height: 24px; 
  border-right: 1px solid #ccc; 
}

.hamburger {
  display: none;
  padding: 10px;
  margin-left: 15px;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px 0;
  transition: all 0.3s ease-in-out;
  background-color: black;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.navbar-items {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Adjust for smaller screens */
@media (max-width: 576px) {
  .name {
    font-size: 1.1rem; 
    margin-right: 5px; 
  }

  .title {
    font-size: 0.9rem;
  }

  .circle {
    width: 25px; 
    height: 25px; 
    margin-right: 5px; 
    margin-left: 10px;
  }

  .vertical-line::after{
    display: none;
  }

  .hamburger {
    display: block;
  }

  .navbar-menu {
    position: fixed;
    left: -100%; /* Initially hide the menu off-screen */
    top: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column; /* Vertical layout for small screens */
    text-align: center;
    align-items: center;
    justify-content: start;
    transition: left 0.3s ease;
    backdrop-filter: blur(90px);
    overflow-y: hidden;
  }

  .navbar-menu.active {
    left: 0;
  }

  .navbar-items {
    margin-top: 40%;
    display: flex;
    flex-direction: column;
  }

  body.menu-active {
    overflow: hidden;
  }
}
