<div class="container mt-5 p-4 animate-up">
    <h1 class="text-start mb-4">Resume</h1>
    <div class="row">
      <div class="col-md-5">
        <h3>Work Experience</h3>
        <h6 class="text-secondary">E&M Technology House Ltd.</h6>
      </div>
      <div class="col-md-7">
        <div class="d-flex flex-column align-items-start">
          <p>Jan 2024-Present</p>
          <h5>Software Developer</h5>
        </div>
        
        <p>
            • Engineered backend solutions for ems, e-bike hiring, and customer management using Java and Spring Boot, enhancing system efficiency and data processing speed.<br>
            • Designed and developed IoT systems for precise remote control and data collection, including hardware for the Sayona app to manage device usage and report metrics.<br>
            • Programmed microcontrollers with MicroPython for hardware control and integrated firmware with cloud platforms for real-time data analytics.<br>
            • Integrated sensor data with cloud services, strengthening data security and reliability through advanced encryption and robust cloud infrastructure.<br>
            • Led cross-functional teams in software and hardware integration via GitHub, managed client testing, training, and ongoing support.<br>
            • Engineered frontend solutions for the EMS system using Angular.
          </p>
          
      </div>
    </div>
  </div>
  