.vertical-line {
  position: relative;
}

.vertical-line::before {
  content: '';
  position: absolute;
  top: 10px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  background-color: #e0e0e0;
}

.dot{
  position: relative;
}

.dot::after{
  content: '';
  position: absolute;
  top: 8px;
  left: 50%;
  transform: translateX(-50%);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: black;
}

/* Animation keyframes for the left content */
@keyframes slideInLeft {
  from {
    transform: translateX(-30%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Animation keyframes for the right content */
@keyframes slideInRight {
  from {
    transform: translateX(30%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Animation keyframes for dot */
@keyframes slideUp {
  from {
    transform: translateY(30%);
    opacity: 0;
  }
  to {
    transform: translateY(0); /* Fix the property to translateY for correct animation */
    opacity: 1;
  }
}

/* Add the animation class to apply the animation */
.animate-left {
  animation: slideInLeft 1s ease-out forwards;
}

.animate-right {
  animation: slideInRight 1s ease-out forwards;
}

.animate-dot {
  animation: slideUp 1s ease-out forwards;
}

