<div class="pt-5">
  <div class="text-center mt-5 text-muted">
    <h3>Experience</h3>
    <hr class="my-4" style="border-top: 2px solid #a9a3a3; width: 100%; margin: auto;">
  </div>

  <div class="container mt-4">
    <div class="row circle dot">
      <div class="col-6 d-flex flex-column align-items-end pe-sm-5 left-content">
        <h6 class="text-dark">Jan 2024-Present</h6>
        <h5 class="text-muted mt-3">Software <br class="d-block d-md-none"> Developer</h5>
      </div>
      <div class="col-6 d-flex flex-column align-items-start ps-sm-5 right-content">
        <h6 class="text-muted">E&M Technology House Ltd.</h6>
        <p class="text-muted mt-3">
          Languages: Java, C#, JavaScript, Micropython.<br />
          Frameworks: Spring Boot, Angular.<br />
          Databases: MongoDB, MSSQL, PostgreSQL.<br />
          Software: KiCad, Proteus, Matlab. <br>
          Version Control: Github
        </p>
      </div>
    </div>

    <div class="container mt-4">
      <div class="row circle dot">
        <div class="col-6 d-flex flex-column align-items-end pe-sm-5 left-content">
          <h6 class="text-dark">July 2021-October 2022</h6>
          <h5 class="text-muted mt-3">Data Entry Clerk <br class="d-block d-md-none"> and Marketer</h5>
        </div>
        <div class="col-6 d-flex flex-column align-items-start ps-sm-5 right-content">
          <h6 class="text-muted">Equity Bank.</h6>
          <p class="text-muted mt-3">
            • Supported the CSSB board in the Wings to Fly and Elimu Scholars selection
process. Received, organized, and ensured the timely upload of application
forms to the DMIS at Tala, Emali and Voi branches.<br>
            • Facilitated successful Equitel onboarding, application installation, and E-Hapo
account origination.
          </p>
        </div>
      </div>
  </div>

  <div class="container mt-4">
    <div class="row circle dot">
      <div class="col-6 d-flex flex-column align-items-end pe-sm-5 left-content">
        <h6 class="text-dark">January 2021-April 2021</h6>
        <h5 class="text-muted mt-3">Attaché</h5>
      </div>
      <div class="col-6 d-flex flex-column align-items-start ps-sm-5 right-content">
        <h6 class="text-muted">Machakos.</h6>
        <p class="text-muted mt-3">
          • Designed and implemented electronic control systems and solar-powered
        street lighting. Installed and maintained streetlights, floodlights, and solar
        panels. Diagnosed and repaired electrical faults to improve system efficiency.<br>
        • Managed networking lines, handled Wi-Fi password configurations, controlled
        user access, and ensured consistent Wi-Fi connectivity and reliability.
        </p>
      </div>
    </div>
</div>

</div>


<div class="pt-5">
  <div class="text-center mt-5 text-muted">
    <h3>Education</h3>
    <hr class="my-4" style="border-top: 2px solid #a9a3a3; width: 100%; margin: auto;">
  </div>

  <div class="container mt-4">
    <div class="row circle dot">
      <div class="col-6 d-flex flex-column align-items-end pe-sm-5 left-content">
        <h6 class="text-dark">2017-2023</h6>
        <h5 class="text-muted mt-3">Bachelor of Science Electrical <br> and Electronics Engineering</h5>
      </div>
      <div class="col-6 d-flex flex-column align-items-start ps-sm-5 right-content">
        <h6 class="text-muted">Machakos University.</h6>
        <p class="text-muted mt-3">
          Second class honors(Upper Division)
        </p>
      </div>
    </div>

    <div class="container mt-4">
      <div class="row circle dot">
        <div class="col-6 d-flex flex-column align-items-end pe-sm-5 left-content">
          <h6 class="text-dark">July 2021-October 2022</h6>
          <h5 class="text-muted mt-3">Certificate in Computer Support <br> and Maintenance</h5>
        </div>
        <div class="col-6 d-flex flex-column align-items-start ps-sm-5 right-content">
          <h6 class="text-muted">Kisii National Polytechnic.</h6>
          <p class="text-muted mt-3">
            Credit
          </p>
        </div>
      </div>
  </div>

  <div class="container mt-4">
    <div class="row circle dot">
      <div class="col-6 d-flex flex-column align-items-end pe-sm-5 left-content">
        <h6 class="text-dark">2013-2016</h6>
        <h5 class="text-muted mt-3">Kenya Certificate of Secondary School Education.</h5>
      </div>
      <div class="col-6 d-flex flex-column align-items-start ps-sm-5 right-content">
        <h6 class="text-muted">Cardinal Otunga <br> High School</h6>
        <p class="text-muted mt-3">
          Kenya Certificate of Secondary School Education. 
        </p>
      </div>
    </div>
</div>

</div>