.row {
  position: relative;
}

.row::before {
  content: '';
  position: absolute;
  top: 10px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  background-color: #e0e0e0;
}

.circle{
  position: relative;
}

.circle::after{
  content: '';
  position: absolute;
  top: 8px;
  left: 50%;
  transform: translateX(-50%);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: black;
}

/* Animation keyframes for the left content */
@keyframes slideInLeft {
  from {
    transform: translateX(-20%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Animation keyframes for the right content */
@keyframes slideInRight {
  from {
    transform: translateX(20%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.left-content {
  animation: slideInLeft 1s ease-out forwards;
}

.right-content {
  animation: slideInRight 1s ease-out forwards;
}
