<div class="pt-5">
  <div class="text-center mt-5 text-muted">
    <h3>Experience</h3>
    <hr
      class="my-4"
      style="border-top: 2px solid #a9a3a3; width: 100%; margin: auto"
    />
  </div>

  <div class="container mt-4">
    <div class="row vertical-line dot">
      <div
        class="col-6 d-flex flex-column align-items-end pe-sm-5 left-content"
      >
        <h6 class="text-dark">Jan 2024-Present</h6>
        <h5 class="text-muted mt-3">
          Software <br class="d-block d-md-none" />
          Developer
        </h5>
      </div>
      <div
        class="col-6 d-flex flex-column align-items-start ps-sm-5 right-content"
      >
        <h6 class="text-muted">E&M Technology House Ltd.</h6>
        <p class="text-muted mt-3">
          Languages: Java, C#, JavaScript, Micropython.<br />
          Frameworks: Spring Boot, Angular.<br />
          Databases: MongoDB, MSSQL, PostgreSQL.<br />
          Software: KiCad, Proteus, Matlab. <br />
          Version Control: Github
        </p>
      </div>
    </div>

    <div class="container mt-4">
      <div class="row vertical-line dot">
        <div
          class="col-6 d-flex flex-column align-items-end pe-sm-5 left-content"
        >
          <h6 class="text-dark">July 2021-October 2022</h6>
          <h5 class="text-muted mt-3">
            Data Entry Clerk <br class="d-block d-md-none" />
            and Marketer
          </h5>
        </div>
        <div
          class="col-6 d-flex flex-column align-items-start ps-sm-5 right-content"
        >
          <h6 class="text-muted">Equity Bank.</h6>
          <p class="text-muted mt-3">
            • Supported the CSSB board in the Wings to Fly and Elimu Scholars
            selection process. Received, organized, and ensured the timely
            upload of application forms to the DMIS at Tala, Emali and Voi
            branches.<br />
            • Facilitated successful Equitel onboarding, application
            installation, and E-Hapo account origination.
          </p>
        </div>
      </div>
    </div>

    <div class="container mt-4">
      <div class="row vertical-line dot">
        <div
          class="col-6 d-flex flex-column align-items-end pe-sm-5 left-content"
        >
          <h6 class="text-dark">January 2021-April 2021</h6>
          <h5 class="text-muted mt-3">Attaché</h5>
        </div>
        <div
          class="col-6 d-flex flex-column align-items-start ps-sm-5 right-content"
        >
          <h6 class="text-muted">Machakos County.</h6>
          <p class="text-muted mt-3">
            • Designed and implemented electronic control systems and
            solar-powered street lighting. Installed and maintained
            streetlights, floodlights, and solar panels. Diagnosed and repaired
            electrical faults to improve system efficiency.<br />
            • Managed networking lines, handled Wi-Fi password configurations,
            controlled user access, and ensured consistent Wi-Fi connectivity
            and reliability.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="pt-5">
    <div class="text-center mt-5 text-muted">
      <h3>Education</h3>
      <hr
        class="my-4"
        style="border-top: 2px solid #a9a3a3; width: 100%; margin: auto"
      />
    </div>

    <div class="container mt-4">
      <div class="row vertical-line dot">
        <div
          class="col-6 d-flex flex-column align-items-end pe-sm-5 left-content"
        >
          <h6 class="text-dark">2017-2023</h6>
          <h5 class="text-muted mt-3">
            Bachelor of Science Electrical <br />
            and Electronics Engineering
          </h5>
        </div>
        <div
          class="col-6 d-flex flex-column align-items-start ps-sm-5 right-content"
        >
          <h6 class="text-muted">Machakos University.</h6>
          <p class="text-muted mt-3">Second class honors(Upper Division)</p>
        </div>
      </div>

      <div class="container mt-4">
        <div class="row vertical-line dot">
          <div
            class="col-6 d-flex flex-column align-items-end pe-sm-5 left-content"
          >
            <h6 class="text-dark">July 2021-October 2022</h6>
            <h5 class="text-muted mt-3">
              Certificate in Computer Support <br />
              and Maintenance
            </h5>
          </div>
          <div
            class="col-6 d-flex flex-column align-items-start ps-sm-5 right-content"
          >
            <h6 class="text-muted">Kisii National Polytechnic.</h6>
            <p class="text-muted mt-3">Credit</p>
          </div>
        </div>
      </div>

      <div class="container mt-4">
        <div class="row vertical-line dot">
          <div
            class="col-6 d-flex flex-column align-items-end pe-sm-5 left-content"
          >
            <h6 class="text-dark">2013-2016</h6>
          </div>
          <div
            class="col-6 d-flex flex-column align-items-start ps-sm-5 right-content"
          >
            <h6 class="text-muted">
              Cardinal Otunga <br />
              High School
            </h6>
            <p class="text-muted mt-3">
              Kenya Certificate of Secondary School Education.
            </p>
          </div>
        </div>
      </div>

      <div class="container-fluid pt-5">
        <div class="text-center mt-5 text-muted">
          <h3>Skills</h3>
          <hr
            class="my-4"
            style="border-top: 2px solid #a9a3a3; width: 100%; margin: auto"
          />
        </div>

        <div class="row">
          <div class="col-md-4 mb-4">
            <div class="card border-light shadow-sm">
              <div class="card-body">
                <h5 class="card-title font-weight-light text-muted text-center">
                  OS Platforms
                </h5>
                <div class="text-center">
                  <span class="badge bg-windows text-dark me-2"
                    ><i class="fa fa-windows pe-1" aria-hidden="true"></i
                    >Windows</span
                  >
                  <span class="badge bg-linux text-dark">
                    <i class="fa fa-linux pe-1" aria-hidden="true"></i
                    >Linux</span
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card border-light shadow-sm">
              <div class="card-body">
                <h5 class="card-title font-weight-bold text-muted text-center">
                  Development Frameworks
                </h5>
                <div class="text-center">
                  <img
                    class="pe-1"
                    src="https://img.shields.io/badge/Spring_Boot-6DB33F?style=for-the-badge&logo=spring-boot&logoColor=white"
                    alt="Spring Boot"
                  />
                  <img
                    class="ps-1"
                    src="https://img.shields.io/badge/Angular-DD0031?style=for-the-badge&logo=angular&logoColor=white"
                    alt="Angular"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card border-light shadow-sm">
              <div class="card-body">
                <h5 class="card-title font-weight-bold text-muted text-center">
                  Database Technologies
                </h5>
                <div class="text-center">
                  <span class="badge bg-primary text-light me-2">MongoDB</span>
                  <span class="badge bg-primary text-light me-2">MSSQL</span>
                  <span class="badge bg-primary text-light">PostgreSQL</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card border-light shadow-sm">
              <div class="card-body">
                <h5 class="card-title font-weight-bold text-muted text-center">
                  Communication Languages
                </h5>
                <div class="text-center">
                  <span class="badge bg-info text-light me-2">English</span>
                  <span class="badge bg-info text-light">Kiswahili</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card border-light shadow-sm">
              <div class="card-body">
                <h5 class="card-title font-weight-bold text-muted text-center">
                  Programming Languages
                </h5>
                <div class="text-center">
                  <span class="badge bg-warning text-dark me-2">Java</span>
                  <span class="badge bg-warning text-dark me-2">C++</span>
                  <span class="badge bg-warning text-dark me-2">C#</span>
                  <span class="badge bg-warning text-dark me-2"
                    >JavaScript</span
                  >
                  <span class="badge bg-warning text-dark">MicroPython</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card border-light shadow-sm">
              <div class="card-body">
                <h5 class="card-title font-weight-bold text-muted text-center">
                  Software Tools
                </h5>
                <div>
                  <h5 class="font-weight-bold">Software Tools:</h5>
                  <span class="badge bg-secondary text-light me-2"
                    >KiCad EDA</span
                  >
                  <span class="badge bg-secondary text-light me-2"
                    >Proteus</span
                  >
                  <span class="badge bg-secondary text-light me-2">Matlab</span>
                  <span class="badge bg-secondary text-light me-2"
                    >Tinkercad</span
                  >
                  <span class="badge bg-secondary text-light me-2"
                    >AutoCAD</span
                  >
                  <span class="badge bg-secondary text-light">MS Office</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
